/* Write your code here. */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto';
}
.container {
  background-image: linear-gradient(#1d976c, #93f9b9);
  border: 0px solid;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.img-class {
  order: 2;
  width: 50%;
}
.text-container {
  width: 40%;
}
.main-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
.para {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 400;
}
.inputCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input {
  border: 1px solid #e4e7eb;
  color: #e4e7eb;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
  margin-top: 10px;
}
.button {
  background-color: #ffffff;
  color: #219a6f;
  padding: 15px;
  border: 0px solid;
  border-radius: 10px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 55px;
}
@media (max-width: 425px) {
  .button {
    font-size: 15px;
    height: 38px;
    width: 150px;
    padding: 10px;
  }
  .input {
    width: 160px;
    height: 30px;
    font-size: 13px;
  }
  .para {
    font-size: 13px;
  }
  .main-heading {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .img-class {
    order: 1;
    width: 70%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    order: 2;
    align-items: center;
    width: 70%;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
}
